/*fonts*/

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('fonts/SinkinSans-400Regular-webfont.eot');
    src: url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'redressedregular';
    src: url('fonts/redressed-webfont.woff2') format('woff2'),
         url('fonts/redressed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*Header and Footer : présent sur toutes les pages*/

.html, body
{
margin: 0px;
padding: 0px;
}

.logo
{
	width: 15%;
	height: 15%;
	align-content: center;
	background: #589C87;
	padding-right: 43%;
	padding-left: 42%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: -22px;
}

footer
{
	display: flex;
	flex-direction: row;
	background: #589C87;
	padding-bottom: 15px;
	padding-top: 15px;
  	position: fixed;
  	bottom: 0;
  	top: 97%;
  	width: 100%;
  	margin-top: -2.5em;
  	justify-content: space-around;
}

.ml, .ml1
{
font-family: 'sinkin_sans400_regular';
padding-left: 20px;
padding-right:50%;
font-size: 1em;
color: #ffd119;
text-align: left;
text-decoration: none;
}

.ml:hover
{
  animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes wiggle {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
  
}

.cn, .cn1
{
font-family: 'sinkin_sans400_regular';
padding-right: 20px;
font-size: 1em;
color: #ffd119;
text-align: right;
text-decoration: none;
}

.cn:hover
{
  animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/*Spécifique Chic à la française*/

h2

{
font-family: 'sinkin_sans600_semibold';
text-align: center;
margin-bottom: 2%;
margin-top: 3%;
font-weight: bold;
}

main
{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #FFF4FE;
	padding-bottom: 5%;
	padding-top: 3%;
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	margin-bottom: 10%;
	border: 1px solid #000;

}

.nom1
{
	font-family: 'redressedregular';
	font-size: 3em;
	padding-bottom: 5%;
	padding-top: 5%;
	background: linear-gradient(to right, #C07428 0%, #9B6A96 50%, #6950C6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h4 {
  display: flex;
  flex-direction: row;
  font-family: 'lobster_1.3regular';
  font-size: 1.5em;
  

}
h4:before, h4:after{
  content: "";
  flex: 1 1;
  border-bottom: 3.5px solid;
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 2%;
  margin-top: 2%;
  }

  article
{
	display: flex;
	margin-right: 12%;
	margin-left: 12%;
	justify-content: space-between;
}

.plats
{
	text-align: left;
	font-family: 'handleeregular';
	font-size: 1.2em;
}


.prix
{
	text-align: right;
	font-family: 'handleeregular';
	font-size: 1.2em;
}

.color1
{
	color: #C07428;
}

.color2
{
	color: #9B6A96;
}

.color3
{
	color: #6950C6;
}

.underline
{
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.underline::after
{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #C07428 0%, #9B6A96 50%, #6950C6 100%);
  transition: width .3s;
}

.underline:hover::after
{
  width: 100%;
}


