/*fonts*/

@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('fonts/SinkinSans-400Regular-webfont.eot');
    src: url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'billgatesregular';
    src: url('fonts/billgates_demo-webfont.woff2') format('woff2'),
         url('fonts/billgates_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'handleeregular';
    src: url('fonts/handlee-regular-webfont.woff2') format('woff2'),
         url('fonts/handlee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*Header and Footer : présent sur toutes les pages*/

.html, body
{
margin: 0px;
padding: 0px;
}

.logo
{
	width: 15%;
	height: 15%;
	align-content: center;
	background: #589C87;
	padding-right: 43%;
	padding-left: 42%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: -22px;
}

footer
{
	display: flex;
	flex-direction: row;
	background: #589C87;
	padding-bottom: 15px;
	padding-top: 15px;
  	position: fixed;
  	bottom: 0;
  	top: 97%;
  	width: 100%;
  	margin-top: -2.5em;
  	justify-content: space-around;
}

.ml, .ml1
{
font-family: 'sinkin_sans400_regular';
padding-left: 20px;
padding-right:50%;
font-size: 1em;
color: #ffd119;
text-align: left;
text-decoration: none;
}

.cn, .cn1
{
font-family: 'sinkin_sans400_regular';
padding-right: 20px;
font-size: 1em;
color: #ffd119;
text-align: right;
text-decoration: none;
}

/*Spécifique Chic à la française*/

h2

{
font-family: 'sinkin_sans600_semibold';
text-align: center;
margin-bottom: 2%;
margin-top: 3%;
font-weight: bold;
}

main
{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #FFF4FE;
	padding-bottom: 5%;
	padding-top: 3%;
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	margin-bottom: 10%;
	border: 1px solid #000;

}

.nom1
{
	font-family: 'billgatesregular';
	font-size: 4em;
	padding-bottom: 5%;
	padding-top: 5%;
	background: linear-gradient(to right, #4B9436 0%, #8BCD68 50%, #C7F78F 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h4 {
  display: flex;
  flex-direction: row;
  font-family: 'handleeregular';
  font-size: 1.5em;
  }


h4:before, h4:after
{
  content: "";
  flex: 1 1;
  border-bottom: 3.5px solid linear-gradient(to right, red, orange);
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 2%;
  margin-top: 2%;
  background: linear-gradient(to right, #4B9436 0%, #8BCD68 50%, #C7F78F 100%);
  }

  h4:after
{
  content: "";
  flex: 1 1;
  border-bottom: 3.5px solid linear-gradient(to right, red, orange);
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 2%;
  margin-top: 2%;
  background: linear-gradient(to left, #4B9436 0%, #8BCD68 50%, #C7F78F 100%);
  }

  h4 span
  {
  	color: #000000;
  }

  h4:hover {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}

  article
{
	display: flex;
	margin-right: 12%;
	margin-left: 12%;
	justify-content: space-between;
}

.plats
{
	text-align: left;
	font-family: 'handleeregular';
	font-size: 1.2em;
	color: #000000;
}


.prix
{
	text-align: right;
	font-family: 'handleeregular';
	font-size: 1.3em;
	color: #000000;
}


